html {
	font-size: 16px;
}

body {
	align-items: center;
	display: flex;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	justify-content: center;
}

.container {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
}

h2 {
	font-size: 1.125em;
}

h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
  padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	align-items: center;
	border-bottom: 3px solid #77a466;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
	width: 100%;
}

header h1 {
	border-bottom: 3px solid #77a466;
	margin: 0;
	padding: 38px 0;
	width: 100%;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 46px 0;
	width: 100%;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	font-size: 0.875em;
	font-weight: 700;
	list-style: none;
	padding: 10px 0;
	text-transform: uppercase;
}

header nav ul li a {
	color:#77a466;
	text-decoration: none;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.main-image img {
	border-bottom: 3px solid #77a466;
	width: 100%;
}

.main-title h2 {
	color: #77a466;
	padding: 5px 0;
	text-align: left;
}

.main-title p {
	font-size: 1em;
	line-height: 25px;
	padding: 0;
}

.section-one,
.section-two,
.section-three {
	border-top: 1px solid #eee;
	width: 100%;
}

.section-one h3 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h3,
.section-three h3 {
	padding: 10px;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	color:#77a466;
	padding: 10px 0;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	align-items: center;
	border-top: 3px solid #eee;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
}

footer span {
	color: #77a466;
	font-family: 'Galada', cursive;
	font-size: 0.875em;
	text-transform: lowercase;
}
